body {
  margin: 0;
  background-color: #fae639;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

#content {
  display: grid;
  grid-template-rows: 80px 1fr;
}

.header-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.nav-btns {
  display: flex;
}

.nav-button {
  width: 110px;
  padding: 8px;
  background-color: #fae639;
  font-size: 1.4rem;
  margin-right: 40px;
  border: none;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  cursor: pointer;
}

.nav-button:hover {
  top: -5px;
}

.btn-current {
  background-color: black;
  color: #fae639;
  font-weight: 800;
  border-radius: 30px;
}

.header-logo-div {
  display: grid;
  justify-content: center;
}

.header-img {
  height: 50px;
}

.home-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
}

.main-img-div {
  display: grid;
  justify-content: end;
  padding-right: 40px;
}

.burger-img {
  height: 500px;
  width: auto;
  padding-bottom: 30px;
}

.hero-logo-div {
  display: grid;
  align-items: end;
}

.big-logo-img {
  height: 200px;
}

.main-text-div {
  display: grid;
  grid-template-rows: 1fr .7fr;
  font-size: 1.1rem;
}

.hero-blurb {
  align-self: self-start;
  width: 400px;
  padding-left: 2px;
  padding-top: 12px;
}

.contact-main-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding-top: 120px;
}

.map-div {
  justify-self: first baseline;
  
}

.map {
  border-radius: 20px;
  box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.1);
}

.contact-info-div {
  display: grid;
  justify-self: last baseline;
  align-self: center;
  text-align: center;
}

#title {
  font-size: 2rem;
  font-weight: 700;
}

#email {
  font-weight: 500;
}

p.contact-info {
  padding: 0;
  margin: 8px;
}

.menu-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 200px;
  width: 90%;
  justify-self: center;
}

.menu-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.item-name {
  font-weight: 700;
  margin: 0;
  font-size: 1.1rem;
}

.item-description {
  font-size: .9rem;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.item-price {
  font-size: .9rem;
  margin: 0;
}

.menu-img {
  height: 250px;
  width: auto;
  justify-self: center;
}

.item-info {
  display: grid;
}

